
@media screen and (max-width: 800px) {
  body{ 
    margin: auto;
    padding: auto;
  }
  header{
    display: none;
  }
  .l_page{
    border: white solid;
    flex-wrap: wrap-reverse;
  }
  .about{
    flex-wrap: wrap;
  }
  /* .contact{
    flex-wrap: wrap;
  } */
}
